/* my code is to include at least one example of: */


#title{
    color:rgb(159, 159, 167);
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.recipe_links{
    color:rgb(74, 74, 77);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
a{
    text-decoration: none!important;
    color:rgb(74, 74, 77);
}
body{
    background-color:rgb(239, 224, 200);
}
#lasagna_page{
    background-color: rgb(211, 182, 145);
}